*{
    margin:0;
   color: white;
   font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
/* border: 1px solid black; */
}
:root {
    --main-color: darkorchid;
    --secondary-color: orchid;
}
#nav{
    min-height: 125px;
    display:block;
    padding: 15px;
}
#nav, #footer{
    background-color: var(--main-color);
    
}
#titleContainer{
    display:block;
}
#title,#subtitle{
    text-align: center;
    user-select: none;
}
#title{
    font-size: 3rem;
}
#subtitle{
    font-size: 1rem;
    font-style: oblique;
}
#navMenu{
    padding-top:10px ;
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;

}
#shuffle{
    color:black;
    justify-self: end;
    width: 100px;
    max-width: 25vw;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    border: none;
    background-color: white;
    font-weight: bold;
    flex-direction: row-reverse;
    
}
#pawIcon{
    color: black;
    font-size: 1rem;
    margin-left: 5%;
}
#shuffle:hover{
    cursor:pointer;
}
#searchMenu{
    background-color: white;
    width: fit-content;
    display: flex;
    height: fit-content;
    max-width: 30vw;
    padding: 8px;
    border-radius:8px ;
   justify-content: center;
   align-items: center;
    
}
#searchIcon{
    color: black;
}
#search-input{
    border:0;
    color: black;
    max-width: 20vw;
}
#main{
    min-height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
}

#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    width: 1250px;
    min-width: 300px;
    height: 80%;
    gap: 20px;
    padding: 15px 10px;
}

.photocard{
    box-shadow: 4px 7px 20px -4px rgba(0,0,0,0.49);
    border-radius: .7rem;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3fr 1fr;
    background-color: var(--secondary-color)   ;
    transition-duration: 500ms;
}
.photocard:hover{
    transform:translateY(-10px);
}
.imageContainer{
    width: 100%;
    height: 100%;
    min-height: fit-content;
    height: 22vh;
    display: flex;
    border-radius: .7rem;
    align-items: center;
    justify-content: center;
    background-color: white;
}
@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
.loadingIcon{
    animation: myAnim 2s linear 0s 1 normal forwards;
    animation-iteration-count: infinite;
    color:black;
    
}
img{
    
    display: none;
    min-height: 8rem;
    max-height: 20vh;
    max-width: 250px;
    
}
.imageDescriptionContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}
.imageDescription{
    text-transform: capitalize;
}
#footer{
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#contactContainer,a{
    
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    gap: 10px;
    display:flex;
    align-items: center;
    user-select: none;
}
